@CHARSET "UTF-8";
body{
	background-color:#f9f9f9;	
}
.DrawPapper{
	background-color:#fff;
	max-width:960px;
    margin: 0 auto;
    padding:10%;
}
.header{
	font-family:Arial,Verdana,Sans-serif;
	text-align:left;
	color:white;
	background-color:#BEBEBE;
	padding-top:20px;
    font-weight:900;
    font-size:60px;
    line-height:93%;
}
a{
	text-decoration:none;	
}
.footer{

    background-color:#b6b6b6;
}

.Charpter{
	width:20%;
	background-color:#efefef;
}
.Content{
	width:80%;
	background-color:white;	
}